<!DOCTYPE html>
<html lang="en">
<head>
	<link href="/styles.css" rel="stylesheet" type="text/css"  />
</head>
<body>
	<form action='/addManual' method='post'>
		Model #:<br/>
		<input type='text' name='modelnumber' /><br/>
		Category:<br/>
		<input type='text' name='category'	/><br/>
		Sub-category:<br/>
		<input type='text' name='subcategory'	/><br/>
		Link:<br/>
		<input type='text' name='link'	/><br/>
		<input class='submit' type='submit' value='Add'	/>
	</form>
</body>
</html>